body {
    --font-main: "museosans";
    --font-monospace: "JetBrainsMono";
    --clr-background: #f9f6ee; /* #eceff1; */
    --clr-button-background: #e2a31d; /* #1ca914; */
    --clr-input-background: #ffffffc0;
    --clr-canvas-background: #ffffffc0;
    --clr-grid: #00000020;
    --clr-item-selected: #e2a31d7f;
    --clr-item-hover: var(--clr-button-background);
    --clr-text: black;
    --size-padding: 6px;
    --box-shadow: 0; /* 0px 0px 5px rgba(0, 0, 0, 0.12); */

    --border-radius: 0px;
    --outline: 1px solid black;
}

body.dark {
    --clr-background: #1a1918;
    --clr-button-background: #936911;
    --clr-item-selected: #9369117f;
    --clr-input-background: #ffffff20;
    --clr-canvas-background: #ffffff20;
    --clr-grid: #ffffff20;
    --clr-text: #f2efe7;
    --clr-canvas-background: #1e1e1e;

    --outline: 1px solid #ffffff70;
}

html,
body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: var(--clr-text);
    background-color: var(--clr-background);
}

body {
    font-family: var(--font-main);
}

/* GENERAL STYLE */

input {
    margin: 0px;
    padding: 4px;
    text-align: center;
    font-family: var(--font-main);
    font-size: 12px;
    background-color: var(--clr-input-background);
    color: var(--clr-text);
    height: 24px;
    line-height: 24px;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
}

input:focus {
    outline: var(--outline);
}

button {
    height: 24px;
    background-color: var(--clr-button-background);
    color: var(--clr-text);
    font-family: var(--font-main);
    font-size: 12px;
    border-radius: var(--border-radius);
    border: 0px;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

/* CONTENT */

#content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 288px;
    grid-template-rows: calc(100% - 64px) 64px;
}

#canvas-wrapper {
    grid-area: 1 / 1 / span 1 / span 1;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--clr-canvas-background);

    border-right: var(--outline);
    border-bottom: var(--outline);
    box-sizing: border-box;
}

#canvas {
    width: 100%;
    height: 100%;
}

#toolbar {
    grid-area: 2 / 1 / span 1 / span 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--size-padding);
    background-color: var(--clr-background);
    font-size: 12px;
    padding: var(--size-padding);
}

#toolbar>span:first-child {
    min-width: 128px;
    text-align: center;
}

#input-lagrangian {
    font-family: var(--font-monospace);
    width: 100%;
}

#menu {
    grid-area: 1 / 2 / span 2 / span 1;
    background-color: var(--clr-background);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0px 6px;
}

.heading {
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    font-variant: small-caps;
}

#button-new-variable,
#button-new-parameter {
    margin: 0px auto;
    display: block;
}

span.remove {
    display: block;
    width: 24px;
    max-width: 24px;
    height: 24px;
    flex-grow: 1;
    min-width: 24px;
    background-image: url("../img/trash.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
}

body.dark span.remove {
    filter: invert(1);
}

textarea {
    resize: none;
    width: 100%;
    outline: none;
    padding: 0px;
    margin: 0px;
    border: 0px;
    min-height: 64px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: 4px;
    background-color: var(--clr-input-background);
    color: var(--clr-text);
    outline: var(--outline);
}

#textarea-render-script {
    margin: 0px var(--size-padding);
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

#render-script {
    overflow: hidden;
    transition: height 0s;
}

#symbols-list {
    display: grid;
    grid-template-columns: 24px 1fr 1fr 24px;
    column-gap: var(--size-padding);
    row-gap: var(--size-padding);
    padding: var(--size-padding);
}

#symbols-list input {
    width: 100%;
}

.table-header {
    text-align: center;
    font-size: 12px;
}

.symbol {
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 14px;
}

#controls {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--size-padding);
    padding: var(--size-padding);
}

#controls button {
    background-color: var(--clr-button-background);
    width: 64px;
    height: 24px;
    box-shadow: var(--box-shadow);
}

#equations {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: var(--size-padding);
    border: var(--outline);
    margin: 8px;
}

#equations:empty {
    display: none;
}

#equations>.heading {
    line-height: 24px;
    margin-bottom: 6px;
}

#equations>.equation {
    text-align: center;
    font-size: 14px;
}

#scale {
    position: absolute;
    left: 16px;
    bottom: 16px;
    border-bottom: 1px solid var(--clr-text);
    width: 64px;
    text-align: center;
    font-size: 12px;
}

#scale::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -3px;
    background-color: var(--clr-text);
    width: 1px;
    height: 5px;
}

#scale::after {
    content: '';
    position: absolute;
    right: 0px;
    bottom: -3px;
    background-color: var(--clr-text);
    width: 1px;
    height: 5px;
}

.preset {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    cursor: pointer;
    padding: var(--size-padding);
    padding-left: 8px;
    transition: background-color 0.2s;
    line-height: 24px;
}

.preset.selected {
    background-color: var(--clr-item-selected);
    font-style: italic;
}

.preset:hover {
    background-color: var(--clr-item-hover);
}

#preset-save-bar {
    display: flex;
    flex-direction: row;
    gap: var(--size-padding);
    padding: var(--size-padding);
}

#preset-save-bar input {
    width: 100%;
}

#preset-save-bar button {
    flex-grow: 1;
    padding: 0px 8px;
}

#input-preset-name {
    width: 192px;
}

#new-symbol-bar {
    display: flex;
    flex-direction: row;
    gap: var(--size-padding);
    padding: var(--size-padding);
}

#new-symbol-bar input {
    width: 100%;
}

#button-theme {
    position: fixed;
    bottom: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    opacity: 0.25;
    cursor: pointer;
    transition: opacity 0.2s ease 0s;
    background-image: url("../img/moon.png");
    background-position: center center;
    background-size: cover;
}

body.dark #button-theme {
    background-image: url("../img/sun.png");
}