body {
    --font-main: "museosans";
    --font-monospace: "menlo";
    --clr-menu-background: #eceff1;
    --clr-button-background: #ffffff;
    --clr-input-background: #ffffff;
    --clr-item-selected: rgba(0, 0, 0, 0.05);
    --clr-item-hover: rgba(0, 0, 0, 0.10);
    --clr-text: black;
    --clr-canvas-background: #ffffff;
    --size-padding: 6px;
    --box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12);
}

body.dark {
    --clr-menu-background: #313233;
    --clr-button-background: #4b4747;
    --clr-item-selected: rgba(255, 255, 255, 0.05);
    --clr-item-hover: rgba(255, 255, 255, 0.10);
    --clr-input-background: #4a4c4f;
    --clr-text: #dde1e7;
    --clr-canvas-background: #282a2b;
}

html,
body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: var(--clr-text);
}

body {
    font-family: var(--font-main);
}

input {
    border: 0px;
    text-align: center;
    line-height: 20px;
    font-family: var(--font-monospace);
    margin: 0px;
    padding: 0px;
    background-color: var(--clr-input-background);
    color: var(--clr-text);
}

input[type="text"] {
    width: 100%;
}

input:focus {
    outline: none;
}

button {
    border: 0px;
    outline: none;
    background-color: var(--clr-button-background);
    border-radius: 4px;
    height: 24px;
    font-family: var(--font-main);
    font-size: 12px;
    cursor: pointer;
    color: var(--clr-text);
}

#content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 256px;
    grid-template-rows: calc(100% - 40px) 40px;
}

#canvas-wrapper {
    grid-area: 1 / 1 / span 1 / span 1;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--clr-canvas-background);
}

#canvas {
    width: 100%;
    height: 100%;
}

#toolbar {
    grid-area: 2 / 1 / span 1 / span 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--size-padding);
    background-color: var(--clr-menu-background);
    font-size: 12px;
    padding: var(--size-padding) 0px;
}

#toolbar > span:first-child {
    min-width: 80px;
    text-align: center;
}

#input-lagrangian {
    font-family: var(--font-monospace);
    flex-grow: 1;
}

#menu {
    grid-area: 1 / 2 / span 2 / span 1;
    background-color: var(--clr-menu-background);
    overflow-y: scroll;
}

.heading {
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

#button-new-variable,
#button-new-parameter {
    margin: 0px auto;
    display: block;
}

span.remove {
    display: block;
    width: 24px;
    max-width: 24px;
    height: 24px;
    flex-grow: 1;
    min-width: 24px;
    opacity: 0.5;
    background-image: url("../img/trash.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
}

body.dark span.remove {
    filter: invert(1.0);
}

textarea {
    resize: none;
    width: 100%;
    outline: none;
    padding: 0px;
    margin: 0px;
    border: 0px;
    min-height: 64px;
    box-shadow: var(--box-shadow);
    border-radius: 4px;
    padding: 4px;
    background-color: var(--clr-input-background);
    color: var(--clr-text);
}

#textarea-render-script {
    margin: 0px var(--size-padding);
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

#render-script {
    overflow: hidden;
    transition: height 0s;
}

#symbols-list {
    display: grid;
    grid-template-columns: 24px 1fr 1fr 24px;
    column-gap: var(--size-padding);
    row-gap: var(--size-padding);
    padding: var(--size-padding);
}

.symbol {
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 14px;
}

input {
    width: 100%;
    height: 24px;
    line-height: 24px;
    padding: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-family: var(--font-main);
    font-size: 12px;
    outline: none;
    border: 0;
    box-shadow: var(--box-shadow);
}

#buttons {
    position: absolute;
    left: 50%;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    gap: var(--size-padding);
    padding: var(--size-padding);
}

#button-start, #button-reset {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    /* background-color: var(--clr-button-background); */
    width: 40px;
    height: 40px;
    box-shadow: var(--box-shadow);
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.8;
}

#button-start {
    background-image: url("../img/play.png");
}

#button-reset {
    background-image: url("../img/refresh.png");
}

#button-start.pause {
    background-image: url("../img/pause.png");
}

body.dark #button-start, body.dark #button-reset {
    filter: invert(1.0);
}

#equations {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: var(--size-padding);
    opacity: 0.5;
}

#scale {
    position: absolute;
    left: 16px;
    bottom: 16px;
    border-bottom: 1px solid var(--clr-text);
    width: 64px;
    text-align: center;
    font-size: 12px;
}

.preset {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    cursor: pointer;
    padding: var(--size-padding);
    padding-left: 8px;
    transition: background-color 0.2s;
    line-height: 24px;
}

.preset.selected {
    font-weight: bold;
    background-color: var(--clr-item-selected);
}

.preset:hover {
    background-color: var(--clr-item-hover);
}

#preset-save-bar {
    display: flex;
    flex-direction: row;
    gap: var(--size-padding);
    padding: var(--size-padding);
}

#preset-save-bar button {
    flex-grow: 1;
}

#input-preset-name {
    width: 192px;
}

#new-symbol-bar {
    display: flex;
    flex-direction: row;
    gap: var(--size-padding);
    padding: var(--size-padding);
}
